body{background:#0f0e20;position:relative}
.content{padding-top:125px;position:relative}
.title{font-style:normal;font-weight:700;position:relative}
.title::before{content:'';width:112px;height:.5px;background:rgba(255,255,255,.2);position:absolute;left:0}
.title::after{content:'';position:absolute;width:5px;height:5px;background:#fff;left:112px}
.cate a{font-style:normal;font-weight:700;font-size:14px;color:rgba(255,255,255,.2);text-align:center;border-right:.5px solid rgba(255,255,255,.2)}
.cate a.active{color:#fff}
.fracments{display:none}
.fracments .name{font-size:12px}
.fracments .fracments_list li span,.fracments .name span{text-align:center}
.fracments .fracments_list li span{font-weight:700}
.fracments .fracments_list li{color:#fff}
.fracments .fracments_list li span img{width:20px;height:auto;margin-left:13px}
.page{margin:0 auto;width:max-content;width:-webkit-max-content;width:-moz-max-content;width:max-content;height:40px}
.page .flex{padding:0 12px}
.page img{width:16px;height:auto}
.page .page_num{line-height:38px;border-left:.5px solid rgba(255,255,255,.2);border-right:.5px solid rgba(255,255,255,.2);padding:0 10px}
.page .page_num a{font-style:normal;font-weight:400;font-size:12px;color:rgba(255,255,255,.2);padding:0 10px}
.page .page_num a.active{color:#fff}
@media screen and (min-width:1200px){
.w1440{width:75%}
.content::after,.content::before{content:'';width:.5px;height:95%;background:rgba(255,255,255,.2);top:185px;position:absolute}
.back{margin-left:30px;height:60px}
.back a{width:60px;height:60px}
.back a img{width:20px;height:20px;margin:auto}
.title{margin-top:20px}
.title::before{bottom:-9px}
.title::after{bottom:-11px}
.content .w1440{margin-left:5%}
.content::after{right:60px}
.content::before{left:60px}
.cate{height:60px;margin:42px auto 32px}
.cate a{width:150px;line-height:58px}
.fracments{padding-bottom:130px}
.fracments.show{display:block}
.fracments .name{line-height:46px;padding:0 12px}
/* .fracments .fracments_list li span,.fracments .name span{min-width:25%} */
.fracments .fracments_list li span,.fracments .name span{flex: 1;}
/* .fracments .name span:nth-of-type(1){text-align:left;} */
.fracments .name span:nth-of-type(1){text-align:left;flex: 1;padding-left: 5%;}
.fracments .fracments_list li{height:80px;margin-bottom:6px;padding:0 12px;color:#fff}
/* .fracments .fracments_list .headimg{min-width:25%;} */
.fracments .fracments_list .headimg{flex: 1;margin-left: 5%;}
.fracments .fracments_list .headimg img{width:60px;height:60px;border-radius:15px}
.fracments .fracments_list li .address{max-width:130px;word-wrap:break-word;word-break:normal}
}
@media screen and (max-width:1200px){body{max-width:460px;width:100%;margin:0 auto}
.w1440{width:calc(100% - 30px);width:-webkit-calc(100% - 30px);width:-moz-calc(100% - 30px);width:-ms-calc(100% - 30px);padding-bottom:50px;margin:0 auto}
.back{position:absolute;top:11px;right:16px;z-index:99}
.back a{width:40px;height:40px;border-radius:8px}
.back a img{width:16px;height:16px;transform:rotate(180deg);margin:auto}
.title{margin-top:11px;line-height:40px}
.title::before{bottom:6px}
.title::after{bottom:3px}
.cate{width:105px;height:40px;margin:25px 0 16px;border-radius:8px;border:.5px solid rgba(255,255,255,.2)}
.cate a{width:105px;line-height:38px}
.cate a:nth-last-of-type(1){border:none}
.fracments{padding-bottom:76px}
.fracments.show{display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flex}
.fracments .name{flex-direction:column;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;border:.5px solid rgba(255,255,255,.2);border-radius:8px 0 0 8px;padding: 0;}
.fracments .name span{width:110px;line-height:41px;padding:0 15px;border-bottom:.5px solid rgba(255,255,255,.2)}
.fracments .name span:nth-last-of-type(1){border-bottom:none}
.fracments .fracments_list{width:calc(100% - 142px);width:-webkit-calc(100% - 142px);width:-moz-calc(100% - 142px);width:-ms-calc(100% - 142px);padding-right:20px;display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flex;border:.5px solid rgba(255,255,255,.2);border-left:none;border-radius:0 8px 8px 0;overflow-x:auto}
.fracments .fracments_list li{flex-direction:column;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;border:none}
.fracments .fracments_list .headimg{height:42px}
.fracments .fracments_list .headimg img{width:33px;height:33px;border-radius:7px;margin:4.5px auto}
.fracments .fracments_list li span{line-height:42px;padding:0 15px;white-space:nowrap}
.fracments .fracments_list li .address{max-width:130px;font-size:12px;line-height:normal;white-space:normal;word-wrap:break-word!important;word-break:normal}
}
