<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div class="header header-navibar" th:fragment="naviBar">
	<a href="/admin/news/list">资讯管理</a>
	<a href="/admin/commodity/reward/list">奖励管理</a>
	<a href="/admin/commodity/series/list">系列管理</a>
	<a href="/admin/commodity/list">作品管理</a>
	<a href="/admin/commodity/creator/list">作者管理</a>
	<a href="/admin/withdraw/list">提现审核</a>
	<a href="/admin/token/tabs">铸币管理</a>
	<a href="/admin/activity/list">活动管理</a>
	<a href="/admin/final/list">融合作品管理</a>
	<a href="/admin/drops/list">DROPS管理</a>
	<a href="/admin/banner/list">banner管理</a>
</div>