<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <footer class="footer-box" th:fragment="footerBar">
    <div class="footer">
      <div class="foot-top">
        <div class="foot-item">
          <p class="foot-title"><img src="/static/images/logo.png" style="width: 140px;"></p>
          <p class="foot-con">A blockchain-based distribution platform for NFT artworks.</p>
        </div>
        <div class="foot-item">
          <p class="foot-title">About</p>
          <div><a class="deal" href="/userProtocol.html">User agreement</a></div>
          <div><a class="deal" href="/userPrivacy.html">Privacy policy</a></div>
        </div>
        <div class="foot-item contact-box">
          <p class="foot-title">Join Us</p>
          <ul class="contact">
            <li>
              <a href="https://t.me/fmgalleryeng2" target="_blank">
                <img src="/static/images/foot1.png" alt="" />
              </a>
            </li>
            <li>
              <a href="https://discord.gg/ga2MGD4PQV" target="_blank">
                <img src="/static/images/foot2.png" alt="" />
              </a>
            </li>
            <li>
              <a href="https://medium.com/fm-gallery" target="_blank">
                <img src="/static/images/foot3.png" alt="" />
              </a>
            </li>
            <li class="hourse">
              <a href="#">
                <img src="/static/images/foot4.png" alt="" />
                <span>ID：@feiming</span>
              </a>
            </li>
            <li class="qrcode">
              <a href="#">
                <img src="/static/images/foot5.png" alt="" />
                <img class="code" src="/static/images/qrcode.jpg" alt="" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/fm_gallery" target="_blank">
                <img src="/static/images/foot6.png" alt="" />
              </a>
            </li>
            <li>
            	<a href="https://www.instagram.com/fmgalleryofficial/?hl=en" target="_blank">
                	<img src="/static/images/foot7.png" alt="" />
              	</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <span style="display: none">
      <script src="https://s9.cnzz.com/z_stat.php?id=1279693010&web_id=1279693010"></script>
    </span>
  </footer>
</html>
