<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div class="header" id="header-bar" th:fragment="headerBar">
    <a href="/" class="logo">
      <img src="/static/images/logo.png?v=20210219" />
    </a>
    <div class="my-info">
      <img src="/static/images/my_info.png?v=20210219" />
    </div>

    <ul class="menu">
      <li><a href="/" class="selected">首页</a></li>
      <li><a href="/">资讯中心</a></li>
      <li><a href="/">艺术碎片</a></li>
      <li><a href="/">跳蚤市场</a></li>
      <li><a href="/">NFT Staking</a></li>
      <li><a href="/">挖矿</a></li>
      <li><a href="/wallet.html">Connect</a></li>
    </ul>
  </div>
</html>
