<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"/>
	<title>奖励列表</title>
	<link href="/static/css/admin.css?v=2021021916" rel="stylesheet" type="text/css" />
	<script src="/static/scripts/jquery-2.2.0.min.js?v=20210218" type="text/javascript"></script>
	<script src="/static/scripts/admin.js?v=20210218" type="text/javascript"></script>
</head>
<body>
	<div th:replace="admin/navi::naviBar"></div>
	
	<div class="mainer">
		<table role="list" class="no">
			<tr>
				<th width="80">编号</th>
				<th width="500">所属系列</th>
				<th width="200">[(${TOKEN})]总奖励</th>
				<th width="200">奖励包总数</th>
				<th>操作</th>
			</tr>
			<tr th:each="item,stat:${model.items}">
				<td th:text="${item.id}">0</td>
				<td th:text="${item.seriesName}"></td>
				<td th:text="${item.wahTotal}">0</td>
				<td th:text="${item.packTotal} + '/' + ${item.inventory}">0</td>
				<td class="button">
					<a th:href="@{./edit/{id}(id=${item.id})}">编辑</a>
					<a class="button-delete" th:attr="data-id=${item.id},data-title=${item.seriesName}">删除</a>
				</td>
			</tr>
		</table>
		<div class="paging">
			<p class="button">
				<a href="./edit/0">添加奖励</a>
			</p>
			<p class="page">
				<a th:each="i:${#numbers.sequence(1,model.pages)}" th:href="@{./list?index={pn}(pn=${i})}" th:classappend="${model.index} eq ${i} ? 'active'" th:text="${i}"></a>
			</p>
		</div>
	</div>
	<script type="text/javascript">
	$.read
		$('.button-delete').click(function(e) {
			var that = $(e.target), id = that.data('id'), title = that.data('title')
			if (!confirm('确定要删除【' + title + '】的奖励吗？')) return;
			$.getJSON("./delete?id=" + id, function(model) {
				alert(model.message);
				top.location.reload()
			});
		});
	</script>
</body>
</html>